* {
  box-sizing: border-box;
 
}

//color varibales
$main-bg-color:#070d1b;
$headers-color:#0a101e;
$fadedwhite-color:rgba(255, 255, 255, 0.287);
$secondary-color:#fdfeff;
$third-color:#fec544;
$fourth-color:#ffffff92;
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
overflow-x: hidden;
}


#root{
    background-color: $main-bg-color !important;
}
/* water effect */
/* WaterEffect.css */
.water-effect {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #3399FF; /* Blue color for water */
  overflow: hidden;
}

.ripple {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6); /* Transparent white color */
  animation: ripple-animation 2s linear infinite;
}

@keyframes ripple-animation {
  from {
      transform: scale(0);
      opacity: 0.6;
  }
  to {
      transform: scale(2);
      opacity: 0;
  }
}

/* styles.css */
.navbar {
  background-color: transparent;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 1030;
  transition: background-color 0.3s ease-in-out;
}
  
.navbar.scrolled {
  background-color: $headers-color; /* Solid background color */

}
/* styles.css */
.nav-link {
    color: white !important;
    font-size: 1em !important;  
  }
  /* styles.css */
.active-link {
    color: #fec544 !important;
  }
  
#round{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid $fadedwhite-color;
    color: $secondary-color !important;
    &:hover{
        border-color: $third-color;
    }
}
//main section
#main{
  z-index: 1;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;

  p{
    font-size: 60px;
    color: white;
    font-weight: bold;
  }
  span{
    color: $third-color;
  }
}




/* resume section styling */


/* about me section styling */
#about-me{
    padding: 0 50px;
    color: rgba(255, 255, 255, 0.626);
h2{
    color: white;
}
h3{
    color: $third-color;
}
p{
    font-size: 1.1em;

}

.info-item {
  display: flex;
  font-size: 1.2em;
}

.info-item span:first-child {
  width: 100px; /* Adjust this width as needed */
  text-align: left;
  margin-right: 30px; /* Adjust the space between label and colon */
}

.info-item span:last-child {
  flex-grow: 1;
}
}
/* buttons styling */
#submit{
    background: $third-color;
    border-radius: 25px;
    border: none;
    outline: none;
    padding: 10px;
    width: 150px;
    &:hover{
      background-color: $secondary-color;
      color: $third-color !important;
    }
}


#res {
  padding: 20px;
  background-color: #2b2b2b;
  color: #fff;
}

h2 {
  color: #fec544;
}

.experience, .education {
  margin-top: 20px;
}

.experience-item, .education-item {
  margin-bottom: 20px;
}

.experience-item h3, .education-item h3 {
  color: #fec544;
}

p {
  margin: 5px 0;
}








#contact-info {
  h3 {
      color: white;
  }
  p {
      color: rgba(255, 255, 255, 0.622);
  }
}

/* Styling for input and textarea */
input, textarea {
  padding: 15px !important;
  border: 1px solid rgba(255, 255, 255, 0.098) !important;
  background-color: #101624 !important;
  color: rgba(255, 255, 255, 0.622); /* Initial text color */
  
  &::placeholder {
      color: rgba(255, 255, 255, 0.287) !important;
  }

  &:focus {
      outline: 3px solid $third-color !important;
      box-shadow: 0 0 0 2px rgba(255, 255, 0, 0.5) !important;
      border: none !important;
      color: white !important; /* Text color while focused */
  }

  &:valid {
      color: white !important; /* Text color after input is entered */
  }
}

  /* title  componant styling*/
  #title{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   h3 {
   position: relative;
    color: $third-color;
    font-size: 1.75em;
    padding: 0 20px;
     // Adjust padding to control the spacing around the text
     &::after {
        content: '';
        position: absolute;
        bottom: -15px; // Adjust to position the border right below the text
        left: 0;
        width: 100%;
        height: 3px; // Border thickness
        background: linear-gradient(to right, $fadedwhite-color 33%, $third-color 33%, $third-color 66%, $fadedwhite-color 66%);
      }
  }
  }
  /* services section */
#service-item{
    background-color: #101624;
    border: 1px solid rgba(255, 255, 255, 0.172);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    &:hover{
        color: $third-color;
    }
h4{
    color:white;
    &:hover{
        color: $third-color;
    }
}
p{
    font-size: 1.25em;
   color: $fadedwhite-color;
}
#service-item:hover p, 
#service-item:hover span {
    color: $third-color;
    border-color: $third-color;
}
#service-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
   
    color: $secondary-color !important;

}
}
/* real skills section */
.skill-item {
  margin-bottom: 20px;
}

.skill-title {
  font-weight: bold;
  color: #ffffff; /* White color for the title */
}

.skill-value {
  font-weight: bold;
  color: $third-color; /* Yellow color for the value */
}

.progress {
  background-color:#353840 !important; /* Dark background color for the progress bar container */
  height: 2px !important;
  border-radius: 5px;
  overflow: hidden;
  color: $third-color !important;
}

.custom-progress-bar {
  background-color: $third-color !important; /* Yellow color for the progress bar */
  height: 100%;
}

#skills-data{
  h2{
    font-size: 2.5em;
    color: white;
  }
  p{
    color: $fadedwhite-color;
  }
}

.technology-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  position: relative;
}

.technology-border {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 1px solid $fadedwhite-color;
  border-radius: 50%;
  padding: 20px;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: $third-color;
  }

  &:hover .technology-image {
    transform: scale(1.3);
  }
}

.technology-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.technology-name {
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: $headers-color;
  color: white !important;
  padding: 5px 10px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease, bottom 0.3s ease;
  white-space: nowrap;
  a{
    &:hover{
      color: $third-color !important;
    }
  }
}

.technology-border:hover .technology-name {
  opacity: 1;
  bottom: 10px; /* Move up on hover */
 
}


/* SKILLS SECTION */
.skill-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .skill-border {
    animation: fillBorder 2s ease-in-out forwards;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #4caf50 0%, #4caf50 0%, #dcdcdc 0%, #dcdcdc 100%);
    border-image-slice: 1;
  
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;

      z-index: 1;
    }
  }
  
  .skill-image {
    width: 120px;
    height: 100px;
    
    z-index: 3;
  }
  
  // Generate classes for different percentages
  @for $i from 0 through 100 {
    .percentage-#{$i} {
      border-image: linear-gradient(to right, #4caf50 0%, #4caf50 #{$i}, #dcdcdc #{$i}, #dcdcdc 100%);
      border-image-slice: 1;
    }
  }
  
  @keyframes fillBorder {
    0% {
      border-image-source: linear-gradient(to right, #4caf50 0%, #4caf50 0%, #dcdcdc 0%, #dcdcdc 100%);
    }
    100% {
      border-image-source: linear-gradient(to right, #4caf50 0%, #4caf50 100%, #dcdcdc 100%, #dcdcdc 100%);
    }
  }
  
  
/* blog section */
#blog-item {
  
    color: white;
   .row {
    overflow: hidden;
    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
      transform-origin: center;
      &:hover {
          transform: scale(1.1);
      }
  }
}
    span{
        color: $third-color;
    }
 h4{
    color: white;
    &:hover{
        color: $third-color;
    }
 }
 p{
  color:rgba(255, 255, 255, 0.75) ;
 }
}
.custom-prev, .custom-next {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  &:hover{
    color: $third-color;
  }
}

.custom-prev {
  left: -35px; /* Adjust position to the left */
}

.custom-next {
  right: -35px; /* Adjust position to the right */
}

.custom-prev:hover, .custom-next:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker background on hover */
}



//projects section
.project-item {
  position: relative;
  overflow: hidden;
}

.project-item img {
  display: block;
  width: 100%;
  height: auto;
}

.project-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  p{
color: $fadedwhite-color;
  }
}

.project-item:hover .overlay {
  opacity: 1;
}
.testimonial-container {
 
  .testimonial-quote {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.172);
    color: rgba(255, 255, 255, 0.765);
    background-color: #101624;
    &::after {
      position: absolute;
      width: 35px; /* Reduced width */
      height: 35px; /* Reduced height */
      border-right: 2px solid rgba(255, 255, 255, 0.172);
      border-bottom: 2px solid rgba(255, 255, 255, 0.172);
      top: 100%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(45deg); /* Adjust transform */
      content: "";
      background-color: #101624;
   
    }
    &:hover,
    &:hover::after { 
      border-color: $third-color; 
      
    }
    &:hover .person-name { /* Change color of h5 when parent .testimonial-quote is hovered */
      color: $third-color;
    }
    .quote-text {
      margin: 0;
      color: rgba(255, 255, 255, 0.72);
    }
  }

  .testimonial-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
    .person-img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
    .person-name {
      margin-top: 1rem;
      color: rgba(255, 255, 255, 0.765);
    }
    .person-title {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

//footer
footer{
    height: 80px;
    font-size: 16px;
    background-color: $headers-color;
    color: $secondary-color;
   
}
.test {
  position: relative;
   /* Establishes a positioning context for the overlay */
  background: url('./src/assets/bg.jpg') center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll; /* This property is fine as-is */
  overflow: hidden; /* Ensure no overflow from the overlay */
}

.test::before {
  content: ''; /* Required for pseudo-elements */
  position: absolute; /* Absolutely position the overlay */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 13, 27, 0.7); /* rgba color with opacity for the overlay */
  pointer-events: none; /* Ensures the overlay does not interfere with interactions */
  z-index: 1; /* Ensures the overlay is above the background image but below other content */
}

.test > * {
  position: relative; /* Ensures child elements are positioned above the overlay */
  z-index: 2; /* Places child elements above the overlay */
}









.intro-text {
  font-size: 1.5rem; // Smaller default font size for better control on various screens
  text-align: center;
  line-height: 1.2;

  // Adjust font size for different screen sizes
  @media (max-width: 992px) {  // Medium screens
    font-size: 1.25rem;
  }

  @media (max-width: 768px) {  // Small screens like tablets
    font-size: 1rem;
  }

  @media (max-width: 576px) {  // Extra small screens like phones
    font-size: 0.9rem;
  }

  @media (max-width: 400px) {  // Very small screens
    font-size: 0.8rem;
  }
  
}

.static-text {
  font-weight: bold;
  color: $third-color;
  margin-left: 0.5rem;
}

.ani-container {
  display: inline-block;
  margin-left: 0.5rem;
  position: relative;
}

.ani-text {
  font-weight: 600;
  color: $third-color;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  
}

.cursor {
  display: inline-block;

  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@media (max-width: 768px) {
  .intro-text {
    font-size: clamp(1.2rem, 5vw, 2rem); // Smaller on mobile
  }

  .ani-text {
    font-size: clamp(1.2rem, 5vw, 2rem); // Keep animation size consistent
  }
}
/* social links styling  */
#round-social {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color:transparent;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  border: 2px solid $fadedwhite-color;
  position: relative;// Ensure that the text is hidden when not hovered

  a {
    display: flex; // Make sure the icon and text are in a row
    align-items: center; // Aligns the icon and text vertically
    justify-content: center;
    color: #ffffff;
    font-size: 24px;
    gap: 10px; // Add space between icon and text
    transition: color 0.3s ease-in-out;
    white-space: nowrap; // Prevent the text from wrapping
    text-decoration: none; // Ensure there is no underline on the text

    .social-name {
      opacity: 0;
      max-width: 0;
      overflow: hidden;
      transition: max-width 0.3s ease, opacity 0.3s ease;
    }
  }

  &:hover {
    width: 150px; // Expands to cylinder shape
    border-radius: 50px;

    a {
      color: yellow; // Change icon and text color

      .social-name {
        opacity: 1; // Makes the name visible
        max-width: 100px; // Expands to show text
      }
    }
  }
}
/* resume bar styling */
// Resume.scss

.education-bar {
  position: relative;
  margin-left: 20px;
  border-left: 2px solid $fadedwhite-color;
  height: 100%;
  padding-left: 10px;

  .education-item {
    position: relative;
    padding-left: 30px; // Spacing from the bar

    &:hover .dot {
      background-color: #fec544;
    }
  }

  .dot {
    position: absolute;
    left: -15px; // Position dot centered on the line
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 0.3s ease;

    &.hovered {
      background-color: #fec544;
    }
  }
}


.info-value::before {
  content: ":";
  margin-right: 5px; /* Adjust spacing as needed */
}
.info-title{
  padding: 0;
  margin: 2px !important;
}

.custom-arrow {
  display: none; /* Hide arrows by default */
}

@media (min-width: 576px) {
  .custom-arrow {
    display: block; /* Show arrows on larger screens */
  }
}
